{% extends 'base.html.twig' %}

{% block title %}"{{ location.title }}" Room List{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center mt-4">
            <h1>"{{ location.title }}" Room List</h1>
        </div>
        <div class="d-flex justify-content-start">
            <a class="btn btn-outline-success" href="{{ path('app_room_new', { id: location.id }) }}">New</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for room in location.room %}
                <tr>
                    <th scope="row">{{ room.id }}</th>
                    <td>{{ room.name }}</td>
                    <td>{{ room.description }}</td>
                    <td>
                        <a class="btn btn-outline-secondary" href="{{ path('app_room_edit', { id: room.id }) }}">Edit</a>
                        <a class="btn btn-outline-danger" href="{{ path('app_room_delete', { id: room.id }) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
